<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Csv" version="1.0.31" targetFramework="net461" />
  <package id="FluentFTP" version="19.2.2" targetFramework="net461" />
  <package id="Lextm.SharpSnmpLib" version="10.0.6" targetFramework="net461" />
  <package id="Microsoft.DotNet.PlatformAbstractions" version="2.1.0" targetFramework="net461" />
  <package id="Microsoft.Extensions.DependencyModel" version="2.1.0" targetFramework="net461" />
  <package id="Newtonsoft.Json" version="11.0.2" targetFramework="net461" />
  <package id="OpenTK" version="2.0.0" targetFramework="net461" />
  <package id="OpenTK.GLControl" version="1.1.2349.61993" targetFramework="net461" />
  <package id="Portable.BouncyCastle" version="1.8.2" targetFramework="net461" />
  <package id="System.Collections.Specialized" version="4.3.0" targetFramework="net461" />
  <package id="System.Drawing.Common" version="4.5.0" targetFramework="net461" />
  <package id="System.Net.NameResolution" version="4.3.0" targetFramework="net461" />
  <package id="System.Net.Sockets" version="4.3.0" targetFramework="net461" />
  <package id="System.Runtime" version="4.3.0" targetFramework="net471" />
  <package id="System.Runtime.InteropServices.RuntimeInformation" version="4.3.0" targetFramework="net471" />
  <package id="System.Xml.XmlDocument" version="4.3.0" targetFramework="net461" />
  <package id="WpfLightToolkit" version="1.0.1" targetFramework="net461" />
  <package id="Xamarin.Forms" version="3.1.0.561732-pre4" targetFramework="net461" />
  <package id="Xamarin.Forms.Platform.WPF" version="3.1.0.561732-pre4" targetFramework="net461" />
  <package id="XamarinSdk" version="1.0.0" targetFramework="net471" />
  <package id="Zebra.Printer.SDK" version="2.15.2122" targetFramework="net471" />
</packages>