<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="com.zebra.Xamarin_LinkOS_Developer_Demo" android:installLocation="auto" android:versionCode="1" android:versionName="1.0.19">
	<uses-sdk android:minSdkVersion="15" android:targetSdkVersion="23" />
	<uses-feature android:name="android.hardware.usb.host" />
	<uses-permission android:name="android.permission.BLUETOOTH" />
	<uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
	<uses-permission android:name="android.permission.BLUETOOTH_PRIVILEGED" />
	<uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
	<uses-permission android:name="android.permission.CHANGE_WIFI_MULTICAST_STATE" />
	<uses-permission android:name="android.permission.INTERNET" />
	<uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
	<application android:label="Xamarin_LinkOS_Developer_Demo" android:icon="@drawable/icon"></application>
</manifest>